.imgContainer {
  background-repeat: no-repeat;
  background-position: center;
}

.imgLarge {
  width: 200px;
  height: 200px;
}

.feature-section {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.ability-section {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.stats-section {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
